@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Personalización de la scrollbar para navegadores basados en WebKit */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #e2e8f0; /* color de fondo del track */
    border-radius: 50%;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #cbd5e0; /* color del pulgar */
    border-radius: 50%;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }
  
  /* Para Firefox, podemos usar scrollbar-width y scrollbar-color */
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e0 #e2e8f0;
  }
  
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }