---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.jsx";
import Navbar from "../components/Navbar.jsx";
import Sidebar from "../components/Sidebar.jsx";
import Products from "@/components/products/Products.astro";
import Footer from "../components/Footer.astro";

export const prerender = true;
---

<Layout>
<<<<<<< HEAD
	<div class="flex flex-col min-h-screen">
	  <Navbar client:load />
  
	  <div class="flex flex-1">
		<aside class="w-[15%] max-h-screen overflow-y-auto">
			<Sidebar />
		</aside>

		<div class="w-[85%] flex flex-col items-center">
		  <Hero client:load />
		  <Product client:load />
		</div>
	  </div>

	  <Footer />
	</div>
  </Layout>
  
  
>>>>>>> e0a8c45ed90fe8723d94ec954c52a9e8e387c50c
