---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/carrousel/Hero";
import Navbar from "@/components/Navbar.jsx";
import Sidebar from "@/components/Sidebar.jsx";
import Products from "@/components/products/Products.astro";
import Footer from "@/components/Footer.astro";
import SkeletonLoaderProduct from "@/components/loading/SkeletonLoaderProduct.astro";

export const prerender = false;
export const ssr = true;
const searchParam = Astro.url.searchParams.get('search') || '';
---

<Layout>
  <div class="flex flex-col min-h-screen dark:bg-gray-900 dark:text-white bg-gray-100 text-gray-900">
    <Navbar client:load initialSearch={searchParam} />

    <div class="flex flex-1 flex-col lg:flex-row">
      
      <aside class="hidden lg:block lg:w-[15%] max-h-screen overflow-y-auto">
        <Sidebar />
      </aside>

      <div class="w-full lg:w-[85%] flex flex-col items-center">
        <Hero client:load />
        <Products search={searchParam}>
          <SkeletonLoaderProduct slot="fallback" />
        </Products>
      </div>
    </div>
    <Footer />
  </div>
</Layout>