---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.jsx'
import Navbar from '../components/Navbar.jsx'
import Sidebar from '../components/Sidebar.astro'
import Product from '../components/Product.astro'
import Feature from '../components/Feature.astro'
import Footer from '../components/Footer.astro'	
---

<Layout>
	<Navbar />
	<div class="flex">
		<Sidebar />
		<div class="flex w-[85%] flex-col items-center">
			<Hero client:load/>
			<Product />
			<Feature />
		</div>
	</div>
	<Footer />
</Layout>
